.App {
  text-align: center;

  background-color: rgb(245, 241, 241);
}
.selectbox {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px double #0095f6;
  outline: none;
  margin: 10px 0 10px 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 5px 8px;
}
